[Unit]
Description=sysmaint Pi-hole update
Documentation=https://github.com/Stephen-Kennedy/sysmaint
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
Nice=10
TimeoutStartSec=30min
ExecStart=/usr/local/bin/sysmaint pihole
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
